
.container{
	width: 80%;
	padding: 50px;
	margin: 0 auto;
}

button{
	margin: 0 auto;
	border: dotted;
	width: 60%;
}

p{
	width: 100%;
	margin:0 auto;
	padding: 20px;
	border:dotted;
	text-align:center;
}



.selections {

	margin:0 auto;

}

label  {
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 10px 20px;
	font-weight: bold;
	background-color: #016699;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	

}

.choose {
	visibility: hidden;
}



span.right {
	color: green;
}

span.wrong {
	color: red;
}


.answer_menu p {
	display: none;
}

