.container{
	width: 50%;
	
	margin:0 auto;
	padding: 50px;
}

p{
	width: 80%;
	margin:0 auto;
	padding: 20px;
	
	text-align:center;
}



.selections {

	margin: auto;

}

button {
	width:700px;
    margin: 0 auto;
   
    border-radius: 10%;
    padding: 

}

